<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User App - FastAPI</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style>
        #controls {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Mini project</h1>
        <form action="/testify">
            <div class="ui secondary pointing menu">
                <a class="item" href="/">
                  Home
                </a>
                <a class="active item" href="testify">
                  Search
                </a>
                <a class="item" href="detect">
                  detect
                </a>
            </div>
        </form>
        <div class="ui segment">
            <p class="ui big header">
               <div class="ui small image">
                    <video id="video" width="320" height="240" autoplay></video>
                </div>
            </p>
            <p class="ui big header">
                <div class="ui small image">
                    <canvas id="canvas" width="320" height="240"></canvas>
                </div>
            </p>
        </div>
        <div id="controls">
            <button type="button" id="webcamBtn">캡쳐하기</button>
            <input type="text" id="fileName" placeholder="사용자의 이름을 영문으로 입력하세요">
            <button type="button" id="saveBtn">저장하기</button>
        </div>
    </div>

    <script>
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                var video = document.getElementById('video');
                video.srcObject = stream;
                video.play();
            });
        }
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');

        document.getElementById("saveBtn").addEventListener("click", function () {
            var fileName = document.getElementById('fileName').value.trim();
            if (fileName === "") {
                alert("사용자의 이름을 영문으로 입력해주세요.");
                return;
            }

            var canvas = document.getElementById('canvas');
            // 캔버스에 그려진 이미지를 데이터 URL로 변환
            var imageDataURL = canvas.toDataURL("image/jpg");

            // 새로운 링크 엘리먼트 생성
            var downloadLink = document.createElement('a');

            // 데이터 URL을 href 속성에 설정
            downloadLink.href = imageDataURL;

            // 다운로드할 파일의 이름 지정
            downloadLink.download = fileName + '.jpg';

            // 링크를 문서에 추가하고 클릭 이벤트 실행
            document.body.appendChild(downloadLink);
            downloadLink.click();

            // 링크를 문서에서 제거
            document.body.removeChild(downloadLink);
        });

        document.getElementById("webcamBtn").addEventListener("click", function () {
            context.drawImage(video, 0, 0, 320, 240);
        });
    </script>
</body>
</html>
